*{
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100%;
    height: 100%;  
    background: linear-gradient(to right, rgb(125, 111, 155), rgb(51, 107, 139));
    min-width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}
.container{
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-weight: 700;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin:auto;
    border-radius: 1em;
    opacity: 1;
    background-color: rgb(255, 255, 255,0.3);
    z-index: -1;
}
.Sex_selection{
    margin-top: 15px;
    border-bottom: 1px black solid ;
}
.Sex_selection>h1{
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}
.Sex_selection>h1:hover{
    color: rgb(192, 56, 3);
}

.text{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 23px;
}
.text>input{
    width: 50px;
    height: 24px;
    font-size: 22px;
    text-align: center;
    color: rgb(252, 119, 24);
    font-weight: 700;
    background-color: rgb(0, 0, 0);
    outline: none;
}
.text tag{
    color: rgb(132, 18, 177);
    font-size: 26px;
}
.container>div>.basics{
    margin-top: 30px;
    width: 100px;   
}
.motion{
    color: rgb(16, 122, 126,0.8);
    font-size: 25px;
    width: 400px;
    margin: auto;
    text-align: center;
}
.motion>.answer{
    text-align: center;
    font-size: 22px;
    color: rgb(221, 34, 9);
    margin-top: 10px;
    width: 100px;   
    background-color: rgb(0, 0, 0);
    height: 24px;
    outline: none;
    font-weight: 700;
}
.energies{
    margin: auto;
    text-align: center;
    font-size: 20px;
    border-top: 1px black solid ;
    font-weight: 700;
}
.energies>div:nth-child(1){
    color: rgb(105, 104, 102);
}
.energies>div:nth-child(2){
    color: rgb(201, 167, 145);
}
.energies>div:nth-child(3){
    color: rgb(145, 114, 49);
}
.motion tag{
    color: rgb(20, 64, 105);
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
}
